.container {
  display:flex;
  justify-content: space-between;
  background-color: #FAEDED;
  width: 1000px;
}

.image{
  width: 200px;
}

.product-box {
  text-align: center;
  background-color: #ffffff;
  border: solid 1px;
}